<head>
  {% include "partials/meta.njk" %}

  <link rel="stylesheet" href="{{ base_url }}/css/styles.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:400,800"> 
</head>
