<header class="pa3 pa4-m mw6 ml-auto mr-auto tc">
  <a href="{{ base_url }}">
    <img src="{{ base_url }}/images/blindfold-icon.svg" alt="blindfold icon">
  </a>
  <h1 class="lh-solid mv1 f3">{{ meta.title }}</h1>
</header>
