<!DOCTYPE html>
<html lang="{{ meta.language }}">
  {% include "partials/head.njk" %}

  <body id="body"{% if not user %} class="flex flex-column justify-center min-vh-100"{% endif %}>
    {% include "partials/header.njk" %}

    {% block body %}
    <main class="pa3 pa4-m mw6 ml-auto mr-auto tc">
      <h1 class="lh-title mv2">Page not found</h1>
      <p>We're sorry, but the page you requested cannot be found</p>
    </main>
    {% endblock %}

    {% include "../partials/footer.njk" %}
    
    {% if user %}
      <script src="{{ base_url }}/js/bundle.js"></script>
      <script src="{{ base_url }}/js/vue.js"></script>
    {% endif %}

    {% block scripts %}
    {% endblock %}

  </body>

</html>
