{% set page_title = page.title or meta.subtitle or '' %}
{% set page_desc = page_description or meta.description or '' %}

{% extends "layouts/main.njk" %}

{% block body %}
<main class="ph3 ph4-m mw6 ml-auto mr-auto">
  <p class="mt0">Disable retweets from the people you follow, <strong>all at once</strong>. Why?</p>
  <p>Because not seeing retweets in your feed will help your mind <strong>stay free of the negativity</strong> and bullshit that it is.</p>
  <p class="mv4">
    <a href="" class="btn btn-primary db">Sign in with Twitter</a>
  </p>
  <p class="lh-title tc"><small>You will have to confirm your intention after authorising the app with Twitter.</small></p>
</main>
{% endblock %}
