* { box-sizing: border-box; }

html {
  height: 100%;
}

html,
body {
  color: $text-color;
  font-family: $font-family;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga", "clig";
  font-variant-ligatures: common-ligatures;
  background-color: $body-bg;
}

h1, .h1 {
  @include typi("h1");
  margin-top: 0.666em;
  margin-bottom: 0.666em;
  letter-spacing: -1px;
  font-weight: 800;
}

h2, .h2 {
  @include typi("h2");
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  letter-spacing: -0.5px;
  font-weight: 800;
}

h3, .h3 {
  @include typi("h3");
  margin-top: 1em;
  margin-bottom: 1em;
  letter-spacing: -0.5px;
  font-weight: 800;
}

h4, .h4 {
  @include typi("h4");
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  font-weight: 800;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;

  & + p {
    margin-top: 1em;
  }
}

pre {
  font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
  font-size: 0.875rem;
  word-wrap: normal;
  white-space: pre;
  overflow-x: auto;
}

.hidden {
  display: none;
}

.container {
  max-width: 64em;
}

.footer {
  border-top: 1px solid $grey-lightest;
}

.content {
  a:not(.btn) {
    &:link {
      color: darken($brand-primary, 15%);
      text-decoration: underline;
      text-decoration-skip: ink;
    }

    &:hover {
      text-decoration: none;
    }
  }
}

small {
  color: $grey-dark;
}

.err {
  position: relative;
  border-radius: 0 0 3px 3px;

  &::after {
    position: absolute;
    display: block;
    // width: 24px;
    // height: 24px;
    content: "×";
    top: calc(50% - 1.125rem);
    right: 1.25rem;
    font-size: 2rem;
    line-height: 1;
  }
}

.flip-enter-active {
  perspective: 1000;
  animation: flipIn 0.5s;
}

@keyframes flipIn {
  0% {
    transform: perspective(400px) rotateX(90deg);
  }
  
  40% {
    transform: perspective(400px) rotateX(-10deg);
  }
  
  70% {
    transform: perspective(400px) rotateX(10deg);
  }
  
  100% {
    transform: perspective(400px) rotateX(0deg);
  }
}
