$measure-tight: 24em;
$measure-normal: 30em;
$measure-loose: 34em;

.measure        { max-width: $measure-normal; }
.measure-tight  { max-width: $measure-tight; }
.measure-loose  { max-width: $measure-loose; }
