.btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  line-height: 1.25;
  font-family: $font-family;
  box-shadow:
    0 1px 3px 0 rgba(0,0,0,0.15),
    inset 0 -1px 0 0 rgba(0,0,0,0.15),
    inset 0 1px 0 0 rgba(255,255,255,0.1);
  border-radius: 4px;
  border: 0;
  transition: background-color 0.2s cubic-bezier(0,.35,.76,.58);

  &[disabled] {
    transition: 0.2s opacity ease-in;
    opacity: 0.4; 
  }
}

.btn-primary {
  color: $white;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: $brand-primary;

  &:hover {
    background-color: lighten($brand-primary, 10%);
  }
}

.btn-secondary {
  color: $black;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: $brand-pale-grey;
  box-shadow:
    0 1px 3px 0 rgba(0,0,0,0.1),
    inset 0 -1px 0 0 rgba(0,0,0,0.1),
    inset 0 1px 0 0 rgba(255,255,255,0.1);

  &:hover {
    background-color: $brand-near-white;
  }
}
