.btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  line-height: 1.25;
  font-family: $font-family;
  box-shadow:
    0 1px 4px 0 rgba(0,0,0,0.15),
    inset 0 -1px 0 0 rgba(0,0,0,0.15),
    inset 0 1px 0 0 rgba(255,255,255,0.1);
  border-radius: 4px;
  border-color: transparent;
  border-width: 0;
  border-style: solid;
  background-color: transparent;

  &[disabled] {
    opacity: 0.4; 
  }

  &.set {
    width: 14rem;
  }
}

.btn-primary {
  color: $white;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: $brand-primary;
  transition:
    0.125s background-color ease-in;

  &:hover {
    background-color: lighten($brand-primary, 5%);
  }
}

.btn-secondary {
  color: $grey-dark;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-width: 1px;
  border-color: $grey-lighter;
  background-color: $white;
  box-shadow:
    0 1px 2px 0 rgba(0,0,0,0.1),
    inset 0 1px 0 0 rgba(255,255,255,0.25);
  transition:
    0.125s color ease-in,
    0.125s border-color ease-in;

  &:hover {
    color: $grey-darker;
    border-color: $grey-light;
  }
}

.btn-flat {
  color: $grey-dark;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-width: 1px;
  border-color: $grey-lighter;
  background-color: $white;
  box-shadow: none;
}
