.hero {
  border-bottom: 1px solid $grey-lighter;
  background-image:
    linear-gradient(0deg, rgba($white, 0) 0%, $white 50%),
    url("../images/scattered-icons.svg");
  background-position: bottom center;

  @include mq($lg) {
    background-image:
      linear-gradient(-25deg, rgba($white, 0) 0%, $white 50%),
      url("../images/scattered-icons.svg");
    background-position: bottom right;
  }
}

.hero--wrap {
  @include mq($lg) {
    display: flex;
  }

  @include mq($xl) {
    max-width: 52rem;
  }
}

.hero--content {
  margin-top: 2rem;

  @include mq($lg) {
    max-width: 60%;
    margin-top: 1rem;
  }
}

.hero--splash {
  display: flex;
  justify-content: center;
  max-height: 18rem;
  margin-right: -1.5rem;
  margin-left: -1.5rem;
  overflow-y: hidden;

  @include mq($lg) {
    max-height: none;
  }
}

.hero--img {
  height: 100%;
}

.hero--cta {
  margin-right: auto;
  margin-left: auto;

  @include mq($lg) {
    margin-right: 0;
    margin-left: 0;
  }
}
